.sidebar-wrapper {
  height: 100svh;
  display: flex;
  /* position: absolute; */
  /* width: 100px; */
}
.sidebar-animation {
  display: grid;
  grid-template-columns: 0px;
  overflow: hidden;
  transition: grid-template-columns 0.5s;
  background-color: var(--card);

  &.active {
    grid-template-columns: 360px;
  }
}
.sidebar {
  display: none;
  /* opacity: 0;
  transition: all ease-in-out 5s; */
}
.sidebar.active {
  /* top: 0;
  opacity: 1;
  left: 0; */
  position: relative;
  height: 100svh;
  min-width: 360px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card);
}

.toggler {
  height: 100%;
  width: 50px;
  background-color: var(--secondary);
  display: grid;
  place-items: center;
}
.toggler-svg {
  transition: all ease-in-out 0.5s;
  width: 100%;
  height: 100%;

  &.active {
    transform: rotate(180deg);
  }
}

.svg-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: center;

  & svg {
    max-width: 50%;
  }
}
.name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-list {
  flex-grow: 1;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;

  list-style-type: none;
  min-width: 75%;
  /* min-height: 100%; */

  & li:last-child {
    margin-top: auto;
  }
}
.nav-link {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  & a {
    font-size: var(--fs-500);
    display: flex;
    gap: 10px;
    align-items: center;
    white-space: nowrap;
  }
}
.profile-picture {
  width: 40%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: blue;
}

.active-link {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--accent);

  &:hover {
    text-decoration-color: var(--accent);
  }
}
