.wrapper {
  padding-top: 1em;
  width: 100%;
  font-size: var(--fs-300);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  & a {
    align-self: flex-start;
    margin: 0 0.5rem;
  }
}
.task-table {
  border-collapse: collapse;
  width: 100%;

  & td,
  th {
    padding: 0.5rem;
    text-align: left;
  }
  & th {
    background-color: var(--card);
    padding: 1rem 0.5rem;
  }
}
.button-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (min-width: 992px) {
  .wrapper {
    width: min(100% - 3rem, 90ch);
    margin-inline: auto;
  }
  .button-group {
    justify-content: center;
    gap: 1em;
  }
}
